.client{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.client-table{
    border: 1px solid lightgray;
    border-radius: 8px;
    border-collapse: collapse;
}
.client-table-col{
    width: 10rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid lightgray;
}