.clientRow-table-col{
    width: 10rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;   
    border: 1px solid lightgray;

}
.clietRow-button{
    padding: 0.5rem 1rem;
    background-color: red;
    border-radius: 8px;
    color: white;
    border-color: red;

}
.clientRow-row{
}