.NotFound-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}
.NotFound-button{
    background-color: darkblue;
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NotFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}